%section#content_monsters_edit
  %section.monster_summary{:id => "monster_summary_#{@monster.id}"}
    = render(:partial => '/monsters/monster_summary', :locals => { :monster => @monster })

  = render 'form'
