= link_to(image_tag('new_monster.png'), new_monster_path)

%nav.tags
  %ul
    - @user.tags.each do |tag|
      %li= tag.name

%nav.monsters
  %ul
    - @monsters.each do |monster|
      %li{:id => "monster_summary_#{monster.id}"}
        = render(:partial => 'monster_summary', :locals => { :monster => monster })
