@import "zen";

$zen-column-count: 12;
$zen-gutter-width: 10px;

@import "compass/layout/sticky-footer";
@include sticky-footer(54px, "#container");

// Layout
.container {
  @include zen-clear();
  @include zen-grid-container;
}
#error, #notice {
  @include zen-clear();
  @include zen-grid-item(4,5);
  border: 2px solid red;
  padding: 1em;
}

header {
  text-align: center;
}


// Elements
$edge-margins: 20px;
$link-color: #000;

// Assuming font-size defaults to 16pt, we can use math to make ems.
// Found a function here: http://blog.poleteweb.com/pixel-to-em-math-using-sass
$browser-context: 16pt;
@mixin pt-to-ems($prop, $pixels, $context: $browser-context) {
  #{$prop}: #{$pixels/$context}em
}

@mixin standard-font {
  font-family: "gillsans", "Arial", sans-serif;
  @include pt-to-ems(font-size, 18pt);
  text-align: justify;
}

a {
  text-decoration: underline;
  color: $link-color;
}
a:hover {
  background-color: transparent;
  color: $link-color;
  text-decoration: none;
}
a:visited {
  color: $link-color;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  font-size: 100%; // Necessary for scaling.
  line-height: 1.125em; // 18pt; From: http://www.alistapart.com/articles/howtosizetextincss/
}

.content {
  margin-left: $edge-margins;
  margin-right: $edge-margins;
}

#footer {
  background-color: #5b995e;
  text-align: center;
  a, a:visited {
    display: block;
    color: white;
  }
  a:hover {
    background-color: #5b995e;
  }
}
