@import "zen";
@import "fonts.css.scss";

$zen-column-count: 12;
$zen-gutter-width: 10px;

// Elements
$edge-margins: 20px;
$link-color: #000;
$header-height: 80px;
$footer-height: 54px;
$header-spacing: 20px;
$notice-background-color: #bbb8b6;

@import "compass/layout/sticky-footer";

// Layout
.container {
  @include zen-clear();
  @include zen-grid-container;
}
#error, #notice {
  background-color: $notice-background-color;
  width: 100%;
  padding: 4px;
  text-align: center;
}
#error_explanation {
  background-color: $notice-background-color;
  width: 100%;
  padding: 4px;
  text-align: left;
}
header {
  nav.actions {
    @include zen-grid-item(3,10);
    padding: 0px;
  }
}

@include sticky-footer($footer-height, "#container");

// Assuming font-size defaults to 16pt, we can use math to make ems.
// Found a function here: http://blog.poleteweb.com/pixel-to-em-math-using-sass
$browser-context: 16pt;
@mixin pt-to-ems($prop, $pixels, $context: $browser-context) {
  #{$prop}: #{$pixels/$context}em
}

@mixin standard-font {
  font-family: "monsterfont", "Arial", sans-serif;
  @include pt-to-ems(font-size, 18pt);
  text-align: justify;
}

//==== Simple SCSS mixin to create CSS triangles
//==== Example: @include css-triangle ("up", 10px, #fff);
// from: https://gist.github.com/2963271
@mixin css-triangle ($direction: "down", $size: 20px, $color: #000) {
  display: inline;
  content: "";
  position: absolute;
  width: 0; 
  height: 0;
  border-left: $size solid #{setTriangleColor($direction, "left", $color)};
  border-right: $size solid #{setTriangleColor($direction, "right", $color)};
  border-bottom: $size solid #{setTriangleColor($direction, "bottom", $color)};
  border-top: $size solid #{setTriangleColor($direction, "top", $color)};
}

//Utility function to return the relevant colour depending on what type of arrow it is
@function setTriangleColor($direction, $side, $color) {

  @if $direction == "left" and $side == "right" 
  or  $direction == "right" and $side == "left" 
  or $direction == "down" and $side == "top" 
  or $direction == "up" and $side == "bottom" {
    @return $color
  } @else {
    @return "transparent";
  }

}


header {
  text-align: left;
  background-image: url('header_background.png');
  height: $header-height;

  img {
    padding-top: $header-height - image-height('monsterbank_logo.png') - $edge-margins;
    padding-left: $edge-margins;
  }
}

a {
  text-decoration: underline;
  color: $link-color;
}
a:hover {
  background-color: transparent;
  color: $link-color;
  text-decoration: none;
}
a:visited {
  color: $link-color;
}

input.text {
  @include standard-font;
  @include pt-to-ems(font-size, 24pt);
  width: 9em;
}

label {
  @include standard-font;
  @include pt-to-ems(font-size, 16pt);
}

select {
  @include standard-font;
  @include pt-to-ems(font-size, 24pt);
  width: 9em;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
  font-size: 100%; // Necessary for scaling.
  line-height: 1.125em; // 18pt; From: http://www.alistapart.com/articles/howtosizetextincss/
}

.content {
  margin-left: $edge-margins;
  margin-right: $edge-margins;
  margin-top: $header-spacing;
}

#footer {
  background-image: url('header_background.png');
  a, a:visited {
    @include standard-font;
    @include pt-to-ems(font-size, 14pt);
    text-align: center;
    padding-top: $footer-height / 2 - 14px;
    display: block;
    color: white;
  }
}
