@import "application.css.scss";

$selected-tag-color: #949291;

nav.tags {
  @include zen-clear();
  @include zen-grid-item(2,1);
}
nav.monsters {
  @include zen-grid-item(7,3);
}

nav.tags {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-right: 1px solid #000;
    height: 400px; // FIXME: how to get this to go from the header to the footer?
  }

  li {
    @include standard-font;
    margin-bottom: 10px;
  }

  a {
    @include standard-font;
    padding-left: 18px;
    padding-right: 10px;
  }

  li.selected a {
    background-color: $selected-tag-color;
  }

  li.tag {
    background-image: url('tag.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  li.starred {
    background-image: url('star.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

.monsters {
  .actions {
    @include standard-font;
  }

  section.monster_summary {
    margin-bottom: 1em;
  }

  span {
    float: none;
  }
}

form#edit_monster {
  @include zen-grid-item(6, 4);

  label {
    @include pt-to-ems(font-size, 16pt);
  }
}

#tag_form {
  @include zen-clear();
  @include zen-grid-item(6, 4);

  label {
    @include pt-to-ems(font-size, 16pt);
  }
}
