@import "application.css.scss";

$selected-tag-color: #949291;
$monster-width: 300px;
$monster-background-color: #bbb8b6;
$monster-heading-color: #fff;
$monster-heading-background-color: #3a3a3a;
$monster-tag-color: #fff;
$monster-tag-background-color: #a09e9c;

section#content_monsters_list {

  nav.tags {
    @include zen-clear();
    @include zen-grid-item(2,1);
  }
  nav.monsters {
    @include zen-grid-item(4,3);
  }

}

section#content_monsters_new, section#content_monsters_show {
  @include zen-grid-item(3, 6);
}

section#content_monsters_edit {

  section.monster_preview_area {
    @include zen-grid-item(4, 2);
  }

  nav.edit_monster_actions {
    @include zen-clear();
    @include zen-grid-item(3, 8);
  }

  section.edit_monster_area {
    @include zen-grid-item(6, 6);
  }

  #tag_form {
    @include zen-clear();
    @include zen-grid-item(3, 6);
  }
}


nav.tags {
  ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-right: 1px solid #000;
    height: 400px; // FIXME: how to get this to go from the header to the footer?
  }

  li {
    @include standard-font;
    margin-bottom: 10px;
  }

  a {
    @include standard-font;
    padding-left: 18px;
    padding-right: 10px;
  }

  li.selected a {
    background-color: $selected-tag-color;
  }

  li.tag {
    background-image: url('tag.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  li.starred {
    background-image: url('star.png');
    background-repeat: no-repeat;
    background-position: left bottom;
  }
}

.monsters, #content_monsters_edit, #content_monsters_show {
  #tag_form {
    section.monster_tags {
      .tag_item {
        background-color: $monster-tag-background-color;
        color: $monster-tag-color;
        border: 1px solid darken($monster-tag-background-color, 20%);
        padding-left: 4px;
        padding-right: 4px;
        margin-right: 4px;
        text-decoration: none;
      }
    }
  }

  section.monster_summary {
    @include standard-font;
    @include pt-to-ems(font-size, 14pt);
    width: $monster-width;
    background-color: $monster-background-color;
    padding: 0px;
    margin-bottom: 1em;

    section {
      padding: 2px;
      padding-left: 4px;
      padding-right: 4px;
    }

    section.monster_name {
      background-color: $monster-heading-background-color;
      color: $monster-heading-color;

      strong {
        font-weight: normal;
      }

      .monster_xp {
        float: right;
      }
    }

    section.monster_tags {
      a {
        background-color: $monster-tag-background-color;
        color: $monster-tag-color;
        border: 1px solid darken($monster-tag-background-color, 20%);
        padding-left: 4px;
        padding-right: 4px;
        text-decoration: none;
      }

      a:hover {
        background-color: darken($monster-tag-background-color, 30%);
      }
    }
  }
}

.monster_summary span.edit_link {
  display: block;
  text-align: center;
}
